*.swp
*.o
*~
*.a
*.so
*.so.*
xx*
yy*
zz*
*dSYM*
.DS_Store
*.pyc
*_float.[ch]
*_double.[ch]
DD
build*
dist*
*egg*
*_mocks
*.pro
logbins
vpf
wp
xi
DDrppi
wprp
bin/*
include/*
run_correlations
test_*period*
*.tgz
cov-int
*.gcno
*.ipynb
*.log
*.out*
*.d
*.fls
*.aux*
*.*make
*.blg
*.spl
*.toc