*.swp
*.o
*~
*.a
*.so
*.so.*
*.bak
*.dat*
*xx*
*yy*
*zz*
*.txt*
*dSYM*
.DS_Store
*.pyc
*_float.[ch]
*_double.[ch]
DD
wtheta
DDsmu
build*
paper/*
dist*
*egg*
*_mocks
*.pro
logbins
vpf
wp
xi
DDrppi
wprp
DDsmu
bin/*
include/*
run_correlations
test_*period*
*output*integration*
*.tgz
cov-int
*.gcno
*.ipynb
*.log
*.out*
*.d
*.fls
*.aux*
*.*make
*.blg
*.spl
*.toc
