include README.rst Makefile .travis.yml common.mk theory.options mocks.options FAQ INSTALL LICENSE
include xi_theory/python_bindings/call_correlation_functions.py xi_mocks/python_bindings/call_correlation_functions_mocks.py

recursive-include xi_theory             *.c *.h Makefile
recursive-include xi_mocks              *.c *.h Makefile
recursive-include io                    *.c *.h
recursive-include utils                 *.c *.h

recursive-include xi_theory/tests       Mr19_* cmass* bins
recursive-include xi_theory/tests/data  *.ff 
recursive-include xi_mocks/tests        bins angular_bins Mr19*
recursive-include xi_mocks/tests/data   *.txt *.dat 

exclude xi_theory/tests/data/random_Zspace.ff
exclude xi_mocks/tests/data/Mr19_randoms_northonly.rdcz.ff


